.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  max-height: 250px;
}

.fighter-preview___name {
  color: rgb(204, 38, 140);
}

.fighter-preview___text {
  margin-bottom: 0;
}

.fighter-preview___container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.fighter-preview___text-wrapper {
  background: #ffdfa7;
  border: 5px solid #ca9650;
  padding: 0 2rem 1rem 2rem;
  
}
